@import "variables";
body {
    font-weight: 400;
    background-color: $heading-color;
}

html {
    font-family: 'lato', sans-serif;
}

li {
    list-style: none;
}

.header__heading {
    text-align: center;
}
