     @font-face {
         font-family: "lato";
         font-weight: 700;
         src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../font/Lato-Bold.woof") format("woff");
     }

     @font-face {
         font-family: "lato";
         font-weight: 400;
         src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff")
     }
