@media (max-width: 368px) {
  .footer_logo {
    background-color: #00adee;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 1rem;
    padding-top: 2rem;
  }
  .icon_unorder_list {
    display: flex;
    padding-left: 0;
  }
  .icon_unorder_list li {
    padding-right: 0.75rem;

  }

  .footer_unorder_list_security {
    display: block;
    justify-content: space-between;
    padding-left: 0;
  }
  .footer_list_Item_security > a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .footer_unorder_list_security li {
    display: inline-block;
    padding-right: 0.75rem;
  }
}
@media (min-width: 1120px) {
  .footer_logo {
    padding-top: 2rem;
    background-color: #00adee;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer_logo-content > p {
    margin: 0;
  }
  .footer_logo-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .footer_list_Item_security > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  .footer_unorder_list_security {
    display: block;
    margin: 0;
  }
  .icon_unorder_list {
    order: 3;
    display: block;
    margin: 0;
  }
  .footer_unorder_list_security > li {
    display: inline-block;
    padding-inline-start: 2rem;
  }
  .icon_unorder_list li {
    display: inline-block;
    padding-left: 0.75rem;
  }
}
