@import "variables";
@media(max-width: 368px) {
    .list_item_image svg {
        fill:#00ADEE;
    }
    .footer_unorder_list {
        padding-left: 0;

    }
    ol {
      margin-left: $margin;
      margin-right: $margin;
    }
    li {
        list-style: none;
    }
    .article__navigation_unorder_list {
        display: flex;
        flex-direction: row;
    }
    .article__navigation_list--apple {
        margin-right: 1.25rem;
        margin-left: -2.95rem;
    }
    .article__description {
        text-align: center;
        padding-right: 2rem;
        padding-left: 0.15rem;
        font-size: $padding * 8;
        padding-bottom: $padding * 25;
    }
    .list_item_image {
        transform: translate(40%, 0px);
    }
    .unorder_list>li+li {
        text-align: $text-align;
        padding-bottom: 2rem;
    }
}

@media(min-width: 1120px) {
    .sports_app_footer_button--apple {
        margin-right: 2rem;
    }
    .article__header--heading {
        letter-spacing: 0.03em;
        font-size: 36px;
        padding-bottom: 16px;
    }
    .article__description {
        text-align: left;
        margin-bottom: 26px;
        padding-right: 10rem;
    }
    body {
        margin: auto;
    }
    .article__navigation_unorder_list {
        display: flex;
        padding-left: 0;
    }
    .article__navigation_unorder_list {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .article__navigation_list--apple {
        margin-right: 1.5rem;
    }
}
