@media(max-width: 368px) {
    .article__navigation_unorder_list {
        display: flex;
        flex-direction: row;
    }
    .article__navigation_list--apple {
        margin-right: 1.25rem;
        margin-left: -2.95rem;
    }
    .article__description {
        text-align: center;
        padding-right: 2rem;
        padding-left: 0.15rem;
        font-size: 16px;
        padding-bottom: 50px;
    }
    .article__header--heading {
        text-align: center;
        padding-right: 50px;
        padding-left: 2px;
        font-size: 30px;
        padding-bottom: 33px;
    }
    .header__heading {
        padding-bottom: 50px;
    }
    .header__heading>a>img {
        font-size: 48px;
        width: 120px;
        height: 60px;
    }
}

@media(min-width: 1120px) {
    .header {
        background-image: url(../img/bg_header.png);
        background-repeat: no-repeat;
        background-position: calc(1114px - 490px) 90%;
        background-size: 850px;
    }
    .article {
        max-width: 535px;
    }
    .sports_app_footer_button--apple {
        margin-right: 2rem;
    }
    .article__header--heading {
        letter-spacing: 0.03em;
        font-size: 36px;
        padding-bottom: 16px;
    }
    .article__description {
        text-align: left;
        margin-bottom: 26px;
        padding-right: 10rem;
    }
    body {
        margin: auto;
    }
    .header__heading {
        padding-bottom: 80px;
    }
    .header__heading>img {
        font-size: 16px;
        font-weight: 535px;
        width: 70px;
        padding: 10px;
    }
    .header__container {
        max-width: 1114px;
        height: 100%;
        padding-left: 163px;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
    }
    .article__navigation_unorder_list {
        display: flex;
        padding-left: 0;
    }
    .article__navigation_unorder_list {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .article__navigation_list--apple {
        margin-right: 1.5rem;
    }
    .header__heading>a>img {
        width: 75px;
        padding-top: 10px;
    }
}
