$heading-color:rgba(244, 246, 249, 1);
$font-face: lato;
$text-align: center;
// first section
$margin:auto;
$font-size: 16px;
$colorOfHeading :#00ADEE;
$padding: 2px;
$text-transform:uppercase;
$decoration-style:none;
