
@font-face {
    font-family: "sans-serif";
    src: url("fonts/Lato-Bold.woff") format("woff2");
    src: url("fonts/Lato-Regular.woff") format('woff');    
  }
  body {
    font-weight:400;
    background-color:#F4F6F9;
  }



@media(min-width : 368px) {
    .sports_app_footer_button {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        outline: none;
     }
    .sports_app_main_header{
        text-align: center;
        margin-inline-start: 1rem;
        margin-inline-end: 2rem;
     }
}
     


@media(min-width : 768px) { 
    .sports_app_footer_button {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        outline: none;
     }
     .sports_app_footer_button--apple {
        margin-right: -1rem;
       
     } 

     .sports_app_main_description {
        text-align: none;
        font-size: 18px;
     }
     .sports_app_main_header {
        text-align: none;
        margin-inline-start: 0rem;
        font-size: 36px;
        padding-top: 5rem;
        transform: translate();
     }
     body {
         text-align-last: left;
         padding-left: 163px;
     }


}