@font-face {
  font-family: "lato";
  font-weight: 700;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../font/Lato-Bold.woof") format("woff"); }

@font-face {
  font-family: "lato";
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"); }

body {
  font-weight: 400;
  margin: 0; }

html {
  font-family: 'lato', sans-serif; }

.header__heading {
  text-align: center; }

li {
  list-style: none; }

.header {
  background-color: #f4f6f9; }

.header header__heading > a {
  font-size: 48px; }

@media (max-width: 368px) {
  .header__heading {
    padding-bottom: 50px; }
  .header__heading > a > img {
    font-size: 48px;
    width: 120px;
    height: 60px; }
  .article__header--heading {
    text-align: center;
    padding-right: 50px;
    padding-left: 2px;
    font-size: 30px;
    padding-bottom: 33px; } }

@media (min-width: 1120px) {
  .header__heading {
    padding-bottom: 80px; }
  .header__heading > img {
    font-size: 16px;
    font-weight: 535px;
    width: 70px;
    padding: 10px; }
  .header__container {
    max-width: 1114px;
    height: 100%;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto; }
  .header {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position: calc(1114px - 490px) 90%;
    background-size: 850px; }
  .article {
    max-width: 535px; }
  .friendly__header_heading {
    padding-bottom: 10px; }
  .frendly__header_heading + h3 {
    font-size: 28px; } }

@media (max-width: 368px) {
  .list_item_image svg {
    fill: #00ADEE; }
  .footer_unorder_list {
    padding-left: 0; }
  ol {
    margin-left: auto;
    margin-right: auto; }
  li {
    list-style: none; }
  .article__navigation_unorder_list {
    display: flex;
    flex-direction: row; }
  .article__navigation_list--apple {
    margin-right: 1.25rem;
    margin-left: -2.95rem; }
  .article__description {
    text-align: center;
    padding-right: 2rem;
    padding-left: 0.15rem;
    font-size: 16px;
    padding-bottom: 50px; }
  .list_item_image {
    transform: translate(40%, 0px); }
  .unorder_list > li + li {
    text-align: center;
    padding-bottom: 2rem; } }

@media (min-width: 1120px) {
  .sports_app_footer_button--apple {
    margin-right: 2rem; }
  .article__header--heading {
    letter-spacing: 0.03em;
    font-size: 36px;
    padding-bottom: 16px; }
  .article__description {
    text-align: left;
    margin-bottom: 26px;
    padding-right: 10rem; }
  body {
    margin: auto; }
  .article__navigation_unorder_list {
    display: flex;
    padding-left: 0; }
  .article__navigation_unorder_list {
    padding-top: 20px;
    padding-bottom: 40px; }
  .article__navigation_list--apple {
    margin-right: 1.5rem; } }

/* button {
   background-color:#F4F6F9;
}

.sports_app_footer_button {
   border:#F4F6F9 ;
}
 */
@media (max-width: 368px) {
  .footer_logo {
    background-color: #00ADEE;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 1rem;
    padding-top: 2rem; }
  .icon_unorder_list {
    display: flex;
    padding-left: 0; }
  .icon_unorder_list > li {
    padding-right: 0.75rem; }
  .icon_unorder_list > li > li {
    padding-right: 0.75rem; }
  .footer_unorder_list_security {
    display: flex;
    justify-content: space-between;
    padding-left: 0; }
  .footer_list_Item_security > a {
    color: white;
    text-decoration: none;
    font-size: 14px; } }

@media (min-width: 1120px) {
  .footer_logo {
    background-color: #00ADEE;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 1rem;
    padding-top: 2rem; }
  .footer_list_Item_security > a {
    color: white;
    text-decoration: none;
    font-size: 14px; }
  .footer_unorder_list_security {
    display: flex;
    justify-content: space-between;
    padding-left: 0; }
  .icon_unorder_list {
    display: flex;
    padding-left: 0; } }

@media (max-width: 368px) {
  .friendly_section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    padding-right: 22px;
    background-image: url(../img/bg_friendly_user_interface.png);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 1500px;
    padding-bottom: 650px; }
  .friendly__header_heading {
    color: #00ADEE;
    font-size: 16px;
    text-transform: uppercase; }
  .friendly_informations {
    text-transform: uppercase;
    color: #00ADEE;
    text-decoration: none; } }

@media (min-width: 1120px) {
  .friendly__header_heading + p + p {
    padding-right: 42px; }
  .friendly_section {
    background-image: url(../img/bg_friendly_user_interface.png);
    background-position: 200px 50%;
    background-repeat: no-repeat;
    background-size: 1600px; }
  .friendly_description {
    padding-right: 40rem;
    padding-bottom: 2rem; }
  .friendly__header_heading {
    color: #00ADEE;
    font-size: 16px;
    text-transform: uppercase; }
  .friendly_informations > div {
    background-color: #00ADEE; }
  .friendly_section_container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    padding-top: 100px; } }

@media (max-width: 368px) {
  .order-list_list-item ul {
    padding-left: 0; } }

@media (min-width: 1120px) {
  .feature_section {
    color: #00ADEE;
    text-decoration: none;
    background-color: #00ADEE; }
  .feature_header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: white; }
  .feature_header {
    text-align: center; }
  .header__heading > a > img {
    width: 75px;
    padding-top: 10px; }
  .order-list_list-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;
    grid-gap: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1114px;
    padding-bottom: 50px; }
  .unorder_list {
    padding-left: 0;
    color: white; }
  .list_item_image + li {
    list-style: disc; }
  .list_item_image svg {
    fill: white; } }

@media (max-width: 368px) {
  .logo_unorder_list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 100%;
    align-items: center; }
  .logo_unorder_list li {
    margin-bottom: 20px; }
  .logo_list_item--sports {
    margin-left: 3rem; }
  .logo_list_item--nbc {
    margin-right: 2rem; }
  .logo_list_item--designer {
    margin-right: 2rem; }
  .logo_list_item--tv + li + li + li + li + li {
    margin-left: 3rem; } }

@media (min-width: 1120px) {
  .logo_unorder_list {
    display: flex;
    justify-content: space-evenly; }
  .logo_section > header {
    text-align: center;
    font-size: 28px;
    line-height: 37px;
    color: #333333; } }
